.profile__avatar {
  height: 120px;
  width: 120px;
  object-fit: cover;
  margin: 0px;
  border-radius: 50%;
  object-position: center center;
  transition: opacity 0.2s ease-in-out;
}

.profile__avatar:hover {
  cursor: pointer;
  opacity: 0.2;
}